
<div class="jumbotron text-center border border-secondary">
<div class="login">
  <div class="form">
    <form action="/login" method="post">
    
      <span>Nick</span>
      <input name="name" id="name" type="text" placeholder="Nombre" required/>
      <button>Ingresar</button>
    </form>  
  </div>
</div>
</div>