{{> headers title="Carrito" logo="../eve0.png" }}
<div class="container">
    <div id="contenedor" class=" text-center">
        <h2 style="color: black" class="">Lista de Productos</h2>
        {{#if producto.length}}
        <div class="table-responsive">
            <table class="table table-striped table-dark">
                <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Subtotal</th>
                </tr>

                <tbody>
                  {{> carritoDetalle}}
                </tbody>
            </table>

        </div>
        <button onclick="borrarCarrito({{cartID}})">Borrar todo</button>
        {{else}}
            <h3 style="color:red;" class="mb-5">No se agrego ningun producto</h3>
        {{/if}}
        </div>
        </div>
