{{> headers title="Inicio" logo="../eve0.png"}}

  <div class="text-center mt-5">
    <h2>Bienvenido al comercio de la corporacion</h2>
    <br>
    <h1 style="color: rgb(248, 0, 0)">Primera Orden[ORDN]</h1>
  </div>
