{{> headers title="Inicio" logo="../eve0.png"}}

  <div class="text-center mt-5">
    <h2>Bienvenido al comercio de la corporacion</h2>
    <br>
    <h1 style="color: rgb(248, 0, 0)">Primera Orden[ORDN]</h1>
  </div>

{{!-- Pone imagen de fondo
<div class="pt-tablecell page-home relative" style="background-image: url(https://imagebee.org/games/eve-online/eve-online-1-1920x1080.jpg); background-position: center; background-size: cover;">
</div> 
--}}