<!-- Formulario -->
        <h2 class="mb-3">Agregar Productos</h2>

        <form action="/productos" method="post" class="mb-3 ">
            <div class="mb-3 border bg-light">
                <input id="nombre" placeholder="Nombre del producto" type="text" name="nombre" class="form-control" tabIndex="1" required autoFocus >
            </div>
            <div class="mb-3 border bg-light">
                <input id="precio" placeholder="Precio" type="text" name="precio" class="form-control" tabIndex="2" required>
            </div>
            <div class="mb-3 border bg-light">
                <input id="foto" placeholder="URL de la foto" type="text" name="foto" class="form-control" tabIndex="3" required>
            </div>
            <div class="d-grid mx-auto">
                <button class="btn btn-success"  type="submit" >Agregar Producto</button>
            </div>
        </form>


